In [3]:
import sweetviz as sv

In [10]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
pwd

'/mnt/mdrive/home1/akshat/cvts-analysis/notebooks'

In [11]:
df= pd.read_csv('../data/complete.csv')    
df.head(3)

,person_id,gender,age_at_procedure,procedure_occurrence_id,procedure_concept_id,index_visit_id,index_admit_date,procedure_date,index_discharge_date,readmission_visit_id,readmission_date,gap_days,is_death,days_proc_to_death,total_visit_los,post_procedure_visit_los,is_complicated
0,942,0,35,187,4203153,1204,2023-03-11,2023-04-06,2023-04-08,NaN,NaN,NaN,0,NaN,28,2,0
1,944,1,54,132,4284104,1064,2023-03-02,2023-03-09,2023-03-13,1234.0,2023-03-13,0.0,0,NaN,11,4,1
2,944,1,54,127,4284104,1064,2023-03-02,2023-03-06,2023-03-13,1234.0,2023-03-13,0.0,0,NaN,11,7,1

In [12]:
report = sv.analyze(df)
report.show_html('sweetviz_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.